.chat-header{
  display: grid;
  grid-template-columns: 0.5fr 12fr 1fr;
}

header {
  font-weight: bold;
  font-size:x-large;
}

.chat-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  background: #f9f9f9;
  border-radius: 8px;
}

.chat-bubble {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  max-width: 50%;
  display:flex;
  flex-direction: column;
}

.chat-self {
  background-color: #f3d2e2;
  margin-right:0;
  margin-left:auto;
}

.chat-other {
  background-color: #fff;
  margin-right:auto;
  margin-left:0;
}

.chat-sender {
  font-weight: bold;
  font-size: 0.85em;
}

.chat-timestamp {
  color: #aaa;
  font-size: 0.85em;
}

.chat-sender,
.chat-content,
.chat-timestamp {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.chat-input-area {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-input-area button {
  padding: 10px 16px;
  background-color: #f3d2e2;
  color: #171214;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
}

.chat-input-area button:hover {
  background-color:#eb9fd8;
}





